@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SunD</h1>
    <p>In this application you can check weather statistic by mounth or year. And you can upload statistics</p>
</div>
