@model SunD.Models.ViewningData

@{
    ViewBag.Statistics = Model.WeatherStatistics;
}
<div>
    <form method="get" action="~/Viewing/GetStatisticByYear">
        <label>For select by year input year)) </label><br />
        <input type="number" name="year" /><br />
        <input type="submit" value="Check statistics" />
    </form>
    <form method="get" action="~/Viewing/GetStatisticByMounth">
        <label>For select by year select mounth)) </label><br />
        <select id="mounth" name="mounth" style="width:200px">
            @foreach (var item in Model.MounthSelectors)
            {
                <option value=@item.Value>@item.Name</option>
            }
        </select><br />
        <input type="submit" value="Check statistics" />
    </form>
</div>
<div id="data">
    @if (Model.WeatherStatistics != null)
    {
        @Html.Partial("_getStatisticByParametr", Model.WeatherStatistics)

        @if (Model.PageViewModel.HasPreviousPage)
        {
            <a asp-action="ChangePage"
               asp-route-page="@(Model.WeatherStatistics)"
               class="btn btn-outline-dark">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Назад
            </a>
        }
        @if (Model.PageViewModel.HasNextPage)
        {
            <a asp-action="ChangePage"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
                Вперед
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }
    }
</div>